@media (max-width: 768px) {
  .about {
    padding: 40px; /* Riduci padding per schermi piccoli */
    max-width: 100%; /* Imposta la larghezza a 100% per dispositivi piccoli */
    border-radius: 16px; /* Riduci il border radius */
  }

  .about h2 {
    font-size: 24px; /* Diminuisci la dimensione del font */
  }

  .about h3 {
    font-size: 20px; /* Diminuisci la dimensione del font */
  }

  .about p {
    font-size: 16px; /* Diminuisci la dimensione del font */
    line-height: 1.6; /* Riduci la spaziatura tra le righe */
  }

  .about li {
    font-size: 16px; /* Diminuisci la dimensione del font */
  }

  .profile-pic {
    width: 100px; /* Riduci la dimensione dell'immagine del profilo */
    height: 100px;
  }

  .cv-card {
    padding: 10px; /* Riduci il padding della card */
    margin-top: 10px;
  }

  .cv-card h2 {
    font-size: 20px; /* Diminuisci la dimensione del titolo */
  }

  .cv-card p {
    font-size: 14px; /* Diminuisci la dimensione del testo */
  }

  .cv-content {
    padding: 10px; /* Riduci il padding della sezione */
  }

  .cv-content h2 {
    font-size: 18px; /* Diminuisci la dimensione del titolo */
  }

  .cv-content li {
    font-size: 12px; /* Diminuisci la dimensione degli elementi della lista */
  }

  .download-button {
    padding: 8px 16px; /* Riduci il padding del bottone */
    font-size: 14px; /* Diminuisci la dimensione del font */
  }
}

@media (max-width: 480px) {
  .about {
    padding: 20px; /* Ancora meno padding per schermi molto piccoli */
  }

  .profile-pic {
    width: 80px; /* Riduci ulteriormente l'immagine del profilo */
    height: 80px;
  }

  .cv-card, .cv-content {
    padding: 5px; /* Riduci ancora di più il padding */
  }

  .download-button {
    font-size: 12px; /* Riduci la dimensione del testo del bottone */
    padding: 6px 12px;
  }
}
