.guess-number {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .guess-number input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
  }
  
  .guess-number button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    background-color: #0071e3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .guess-number button:hover {
    background-color: #0077ed;
  }
  
  .message {
    margin-top: 20px;
    font-weight: bold;
  }
  
  .light-mode {
    --background-color: #ffffff;
    --text-color: #000000;
    --button-background: #0071e3;
    --button-text: #ffffff;
  }
  
  /* Stili generali per il tema notte */
  .dark-mode {
    --background-color: #000000;
    --text-color: #ffffff;
    --button-background: #444;
    --button-text: #ffffff;
  }