.Home {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background-color: #ffffff;
  color: #1d1d1f;
}

.Home h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}

.Home > p {
  font-size: 24px;
  color: #86868b;
  margin-bottom: 40px;
}



.profile-header {
  text-align: center;
  margin-bottom: 40px;
}



.profile-header h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}

.profile-header p {
  font-size: 20px;
  color: #86868b;
}

.contact-form {
  margin-top: 40px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #d2d2d7;
  border-radius: 8px;
  font-size: 18px;
}

.contact-form textarea {
  height: 100px;
  resize: vertical;
}

.contact-form button {
  background-color: #0071e3;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 24px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact-form button:hover {
  background-color: #0077ed;
  transform: scale(1.05);
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.social-icons a {
  color: #0071e3;
  font-size: 24px;
  margin: 0 10px;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  color: #0077ed;
  transform: scale(1.2);
}

/* Stile per il contenitore del ChatBot */
.chatbot-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
  width: auto;
  max-width: 100%;
}

/* Per i dispositivi con schermi piccoli */
@media (max-width: 760px) {
  .chatbot-container {
    bottom: 5px;
    right: 5px;
  }

  .Home {
    padding: 20px 10px;
  }

  .Home h1 {
    font-size: 36px;
  }

  .Home > p {
    font-size: 18px;
  }

  .profile-header h1 {
    font-size: 28px;
  }

  .profile-header p {
    font-size: 18px;
  }

  .contact-form {
    padding: 20px;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 16px;
  }

  .contact-form button {
    padding: 10px 20px;
    font-size: 16px;
  }

  .social-icons a {
    font-size: 20px;
  }
}

