/* src/components/LoadingScreen.css */
.loading-screen {
  display: flex;
  flex-direction: column; /* Disposizione in colonna */
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  color: #1d1d1f;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  overflow: hidden;
  background: linear-gradient(45deg, #D16BA5, #86A8E7, #5FFBF1);
  background-size: 300% 300%;
  animation: GradientBackground 15s ease infinite;
}

.animation-container {
  width: 60%; /* Riduci la larghezza per diminuire la dimensione dell'animazione */
  height: 40%; /* Riduci l'altezza per diminuire la dimensione dell'animazione */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; /* Minore rispetto ai pulsanti e al cuore */
  margin-bottom: 10px; /* Riduci lo spazio tra l'animazione e il testo */
}

.animation {
  width: 100%; /* Usa il 100% della dimensione del contenitore */
  height: 100%;
}

.loading-screen-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 2; /* Maggiore rispetto al cuore */
  margin-bottom: 15px; /* Spazio tra il testo e il pulsante */
}

.loading-screen h1 {
  font-size: 48px;
  margin-bottom: 10px; /* Spazio sotto il testo */
}

.loading-screen button {
  background-color: #0071e3;
  color: white;
  padding: 12px 24px;
  margin: 10px;
  border: none;
  border-radius: 24px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 2; /* Assicurati che i pulsanti abbiano un `z-index` maggiore */
}

.loading-screen button:hover {
  background-color: #0077ed;
  transform: scale(1.05);
}

/* Media Queries */

/* Schermi piccoli (smartphone in modalità portrait) */
@media (max-width: 480px) {
  .loading-screen h1 {
    font-size: 16px;
  }

  .loading-screen button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 8px;
  }
}

/* Schermi medi (tablet in modalità portrait) */
@media (max-width: 768px) {
  .loading-screen h1 {
    font-size: 22px;
  }

  .loading-screen button {
    padding: 11px 22px;
    font-size: 17px;
    margin: 10px;
  }
}

/* Schermi grandi (desktop) */
@media (min-width: 769px) {
  .loading-screen h1 {
    font-size: 36px;
  }

  .loading-screen button {
    padding: 12px 24px;
    font-size: 18px;
    margin: 12px;
  }
}

@keyframes GradientBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Posizionare il cuore in basso */
.heart-container {
  margin-top: 15px; /* Spazio sopra il cuore */
  display: flex;
  justify-content: center; /* Centra orizzontalmente */
  z-index: 1; /* Assicurati che sia sotto i pulsanti */
}

.heart {
  width: 100px; /* Mantieni la dimensione del cuore */
  height: auto;
}
