.mini-ecommerce {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.products {
  display: flex;
  justify-content: center; /* Modificato per migliorare l'allineamento */
  flex-wrap: wrap;
  gap: 2rem;
}

.product {
  width: 200px;
  margin: 10px;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 32px; /* Rounded corners */
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.6); /* Soft shadow */
  text-align: center;
  background-color: #f9f9f9;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: var(--background-color); /* Usa la variabile del tema */
  color: var(--text-color); /* Usa la variabile del tema */
}

.product img {
  max-width: 100%;
  height: 200px;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
}

.product button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  padding: 8px 12px;
  border-radius: 15px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.product button:hover {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #ffffff;
  transform: translateY(-2px);
}

.product:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.product:hover img {
  transform: scale(1.05);
}

/* Carrello */
.cart {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart-item button {
  background-color: transparent;
  color: red;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
}

/* Icona carrello */
.cart-icon-container {
  position: relative;
  display: inline-block;
}

.show-cart {
  margin-top: 2rem;
  padding-bottom: 2px;
  font-size: 35px;
  border: 1px solid #ddd;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: var(--button-text);
}

.cart-count {
  position: absolute;
  top: 25px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  color: #000000;
  padding: 2rem;
  border-radius: 16px;
  max-width: 500px;
  width: 100%;
}

button.close {
  background-color: red;
  color: white;
}

/* Modal cart item */
.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

/* Modal button */
.modal button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: white;
  color: #000000;
  border: 1px solid black;
  border-radius: 12px;
}

/* Stile generale per il selettore di taglie */
.select-size {
  width: 100%;
  padding: 8px;
  border: 1px solid #020202;
  border-radius: 16px;
  background-color: #f9f9f9;
  font-size: 14px;
  text-align: center;
  color: #333;
  cursor: pointer;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Effetto hover per il selettore */
.select-size:hover {
  border-color: #0071e3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

/* Stile per il focus */
.select-size:focus {
  outline: none;
  border-color: #005bb5;
  box-shadow: 0 0 5px rgba(0, 113, 227, 0.5);
}

.fly-to-cart {
  animation: flyToCart 1s ease-in-out forwards;
  position: relative;
  z-index: 100;
}

@keyframes flyToCart {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(var(--moveX), var(--moveY)) scale(0.2);
    opacity: 0;
  }
}

/* Cambia colore e bordo nella modalità scura */
.dark-mode .select-size {
  background-color: #000000;
  color: #ffffff;
  border-color: #555;
  text-align: center;
  border-radius: 16px;
}

.dark-mode .select-size:hover {
  border-color: #0071e3;
}

/* Tema chiaro */
.light-mode {
  --background-color: #ffffff;
  --text-color: #000000;
  --button-background: #000000;
  --button-text: #ffffff;
}

/* Tema scuro */
.dark-mode {
  --background-color: #000000;
  --text-color: #ffffff;
  --button-background: #000000;
  --button-text: #ffffff;
}

/* Media Queries */

/* Per schermi più piccoli di 768px */
@media (max-width: 768px) {
  .products {
    justify-content: center; /* Mantieni le card centrate */
    gap: 1.5rem;
  }

  .product {
    width: 250px; /* Riduce la dimensione delle card su schermi piccoli */
    padding: 1rem;
  }

  .select-size {
    font-size: 12px; /* Riduci la dimensione del testo del selettore di taglie */
  }

  .product img {
    height: 150px; /* Riduce l'altezza dell'immagine */
  }
  .modal {
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    max-width: 400px;
    width: 100%;
  }
}

/* Per schermi più piccoli di 480px */
@media (max-width: 480px) {
  .product {
    width: 220px; /* Riduce ulteriormente la dimensione delle card */
  }

  .product img {
    height: 160px; /* Riduce ulteriormente l'altezza dell'immagine */
  }

  .select-size {
    font-size: 14px; /* Riduci la dimensione del testo del selettore di taglie */
  }
  .modal {
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    max-width: 280px;
    width: 100%;
  }

}
