.App {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  padding-top: 80px;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  flex-direction: column; /* Allinea gli elementi in una colonna */
  align-items: center; /* Centra orizzontalmente */
  justify-content: center; /* Centra verticalmente */
  box-sizing: border-box; /* Include padding e border nella larghezza totale */

}

/* Stili per il tema giorno */
/* Stili generali per il tema giorno */
.light-mode {
  --background-color: #ffffff;
  --text-color: #000000;
  --button-background: #0071e3;
  --button-text: #ffffff;
}

/* Stili generali per il tema notte */
.dark-mode {
  --background-color: #000000;
  --text-color: #ffffff;
  --button-background: #444;
  --button-text: #ffffff;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.project-item {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Stili per i bottoni */
button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--button-background);
  color: var(--button-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  opacity: 0.8;
}
