.rotating-border {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* Permette ai clic di passare attraverso il div */
  z-index: 9999; /* Assicurati che il div sia sopra altri elementi */
  box-sizing: border-box; /* Include il bordo nella dimensione totale */
  border: 10px solid transparent;
  border-image: linear-gradient(90deg, #d33cf2, transparent);
  border-image-slice: 1;
  background-clip: padding-box; /* Mantiene il bordo visibile */
  animation: gradient-move 5s linear infinite;
}

@keyframes gradient-move {
  0% {
    border-image-source: linear-gradient(90deg, #d33cf2, transparent);
  }
  25% {
    border-image-source: linear-gradient(135deg, #d33cf2, transparent);
  }
  50% {
    border-image-source: linear-gradient(180deg, #d33cf2, transparent);
  }
  75% {
    border-image-source: linear-gradient(225deg, #d33cf2, transparent);
  }
  100% {
    border-image-source: linear-gradient(270deg, #d33cf2, transparent);
  }
}
